# IntelliJ / Android Studio
.idea/
*.iml
data/schemas/

# Gradle
.gradle/
.kotlin/
**/build/

# Android
local.properties
captures/
.externalNativeBuild/
.cxx/

# macOS
.DS_Store

# Node
node_modules/

# Xcode
**/DerivedData/
**/xcuserdata/
*.xcuserstate
